@{
    ViewBag.Title = "Наши дети";
}
<br>
<h2>Наши дети</h2>
<br>
<br>
<ul>
    <li >@Html.ActionLink("Гномики", "Group", "Children", new { access = 1 }, null)</li>
    <li >@Html.ActionLink("Землянички", "Group", "Children", new { access = 7 }, null)</li>
    <li >@Html.ActionLink("Кораблики", "Group", "Children", new { access = 2 }, null)</li>
    <li >@Html.ActionLink("Дружная семейка", "Group", "Children", new { access = 4 }, null)</li>
    <li >@Html.ActionLink("Теремок", "Group", "Children", new { access = 6 }, null)</li>
    <li >@Html.ActionLink("Родничок", "Group", "Children", new { access = 3 }, null)</li>
    <li >@Html.ActionLink("Солнышко", "Group", "Children", new { access = 5 }, null)</li>
</ul>